<% include partials/header %>


  <table class="table table-hover">
    <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Posts</th>
          <th>Tasks</th>
        </tr>
    </thead>

    <tbody id="myTable">
       <% usersData.forEach(usr => { %>
          <tr>
            <td>
                <div class="col-sm-6 col-md-8">
                    <h4>
                        <%= usr.name %></h4>
                    <small><cite title="San Francisco, USA"><%= usr.address.city %><i class="glyphicon glyphicon-map-marker">
                    </i></cite>
                  </small>
                    <p>
                        <i class="glyphicon glyphicon-envelope"><%= usr.email %></i>
                        
                    </p>       
                </div>
               
                  <div class="btn-group-vertical">
                    <a href="/user/<%= usr._id %>">
                    <button type="button" class="btn btn-primary btn-sm">
                      User Details
                    </button></a>
                    <a href="/add_post/<%= usr._id %>">
                    <button  type="button" class="btn btn-primary btn-sm">Add Post
                      </button></a>
                      <a href="/add_task/<%= usr._id %>">
                    <button type="button" class="btn btn-primary btn-sm">
                      Add Task
                    </button></a>
                  </div>   
            </td>
   
            <td>  
              <% usr.phones.forEach(phone => { %>
                      
            <ul class="list-group">
                  <li class="list-group-item">                                        
                      <%=  phone.phoneNumber %>
                      <% if  (phone.phoneType == "mobile") { %>
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                      <%  } %>
                      <% if  (phone.phoneType == "home") { %>
                        <i class="fas fa-phone"></i>
                      <%  } %>
                      <% if  (phone.phoneType == "office") { %>
                        <i class="fas fa-tty"></i>          
                      <%  } %>
                  </li>
            </ul>                                   
                  <%  }) %>
          </td>

            <td>  
                <% usr.posts.forEach(pst => { %>
                        
              <ul class="list-group">
                    <li class="list-group-item">                                        
                        <b><%=  pst.title %></b><br>
                        <li class="list-group-item">
                        <a href="/post/<%= usr._id %>/<%= pst._id %>"> <i style="font-size:20px" class="fa">&#xf044;</i></a>
                      </li>
                    </li>
              </ul>                                   
                    <%  }) %>
            </td>

            <td>
                  <% usr.tasks.forEach(tsk => { %>
                      
                        <ul class="list-group">
                            <li class="list-group-item">           
                            <%=  tsk.title %>  <br> <br>
                              
                            <% if  (tsk.completed == true) { %>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
                                    Completed!
                                  </div>
                                </div>
                            <%  } %>
                            
                            <% if  (tsk.completed == false) { %>
                                  <div class="progress">
                                      <div class="progress-bar progress-bar-warning" role="progressbar" style="width:60%">
                                          In Progress.... 
                                     </div>
                                  </div>
                            <%  } %>
                              <li class="list-group-item">           
                              <a href="/task/<%= usr._id %>/<%= tsk._id %>"> <i style="font-size:20px" class="fa">&#xf044;</i></a>
                              </li>
                            </li>
                            </ul>
                  <% }) %>
             
                           
            </td>
          </tr>
      <%  }) %>
    </tbody>
  </table>  

        <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
            </script>

            
      <% include partials/footer %>
